# Configuration file

general {
    S:"Blocked Message"=Portal is blocked!  Right click %item% (an all quests complete reward) on portal to enter The %dim%
    S:"Consumable Portal Block Whitelist"=minecraft:portal,minecraft:end_portal

    # Right Click item on Portal Rather than Craft [default: false]
    B:"Consume item rather than craft"=true
    S:"Crafted Items"=minecraft:flint_and_steel,minecraft:ender_eye
    S:"Crafted Message"=%dim% Unlocked!
    S:"Dimension IDs"=-1,1
    S:"Dimension Names"=Nether,End

    # Teleports player to Spawn or their bed when trying to enter a End portal [default: true]
    B:"Prevent End Portal Death"=true
}


